#cart-container-section {
    padding: 20px 0;
}

.message-cart h2 {
    color: var(--dsc-color-font-primary);
}

.dsc-cart-total-container {
    color: var(--dsc-color-font-secondary);
}

@media (min-width: 576px) {
    .dsc-cart-item-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .dsc-cart-item-right {
        padding-top: 10px;
    }

    .dsc-cart-total-container h3 {
        text-align: right;
    }
}