#product-form-section {
    padding: 20px 0;
}

.dsc-product-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.dsc-product-form-buttons {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.dsc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.dsc-form h2 {
    font-size: 16px;
    color: var(--dsc-color-font-primary);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}



@media (min-width: 576px) {
    .dsc-form h2 {
        font-size: 24px;
    }
}

@media (min-width: 576px) {
    #product-form-section {
        padding: 40px 0;
    }
}