#login-section {
    padding: 20px 0;
}

.dsc-login-form-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.dsc-form-controls-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
}

.dsc-form-control::placeholder {
    color: var(--dsc-color-font-placeholder);
}

@media (min-width: 576px) {
    #login-section {
        padding: 40px 0;
    }
}